@import '../../assets/styles/base/variables';

.header {
  background-color: $grey;
  color: $white;
  margin-left: 1.3em;
  margin-bottom: .5em;
  

  button {
    background-color: $white;
    border-radius: $roundCorners;
    border: none;
    padding: .4em .6em;
    margin-left: .5em;
    font-weight: bold;
  }
}